.container{:style => "padding-left: 60px;"}
  = form_for @staff, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :id_no, :class => 'control-label'
      .controls= f.text_field :id_no, :class => 'text_field'

    .control-group
      = f.label :name, :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field'
    
    .control-group
      = f.label :rank_id, :class => 'control-label'
      .controls= f.collection_select :rank_id, Rank.all, :id, :name, {:include_blank => (t 'helpers.prompt.select_rank')}, class: 'selectpicker'
    
    .control-group
      = f.label :expertise_id, :class => 'control-label'
      .controls= f.collection_select :expertise_id, Expertise.all.order(:short_name), :id, :expertise_details, {:include_blank => (t 'helpers.prompt.select_expertise')}, class: 'selectpicker'

    .control-group
      = f.label :position_id, :class => 'control-label'
      .controls= f.collection_select :position_id, Position.all.order(:name), :id, :name, {:include_blank => (t 'helpers.prompt.select_position')}, class: 'selectpicker'
	  
    .control-group
      = f.label :unit_id, :class => 'control-label'
      .controls= f.collection_select :unit_id, Unit.all.order(:name), :id, :name, {:include_blank => (t 'helpers.prompt.select_unit_formasi')}, class: 'selectpicker'
	  
    .control-group
      = f.label :gender, :class => 'control-label'
      .controls= f.select :gender, Staff::GENDER, {:include_blank => (t 'helpers.prompt.select_gender')}, class: 'selectpicker'
	  
    .control-group
      = f.label :religion, :class => 'control-label'
      .controls= f.select :religion, Staff::RELIGION, {:include_blank => (t 'helpers.prompt.select_religion')}, class: 'selectpicker'	 
    
    %b
      %br= t 'staffs.notes'
    = t 'staffs.llp_expertise'
    %br= t 'staffs.peg_position'
    %br
    %br 

    - if (!@staff.id.nil?) || (!@staff.id.blank?)	
      %ul.nav.nav-tabs
        %li.active= link_to t('staff_measurements.title'),        '#tab1', data: {toggle: 'tab'}
        %li= link_to t('kit_staffs.title'),  '#tab2', data: {toggle: 'tab'}
        %li= link_to t('staffs.imported_sizes'),   '#tab3', data: {toggle: 'tab'}

 
      - if @staff.kit_staffs == []
        Please click 'Update Staff' to apply default kit	
      - else
        #myTabContent.tab-content{style: "overflow:visible; z-index:9999;"}
          #tab1.tab-pane.active
            .form-group
              .col-lg-offset-2.col-lg-10
                = f.fields_for :staff_measurements do |builder|
                  = render 'staff_measurement_fields', f: builder
                = link_to_add_fields (t 'staff_measurements.add_details'), f, :staff_measurements 
		
          #tab2.tab-pane
            .form-group
              .col-lg-offset-2.col-lg-10
                = f.fields_for :kit_staffs do |builder|
                  = render 'kit_staff_fields', f: builder
                = link_to_add_fields (t 'kit_staffs.add_details'), f, :kit_staffs 

          #tab3.tab-pane
            .form-group
              .col-lg-offset-2.col-lg-10
                %fieldset
                  %table
                    %tr
                      %th{:align=>"left"}= t('staffs.baju')
                      %th{:align=>"left"}= t('staffs.seluar')
                      %th{:align=>"left"}= t('staffs.beret')
                      %th{:align=>"left"}= t('staffs.pcap')
                      %th{:align=>"left"}= t('staffs.bhat')
                      %th{:align=>"left"}= t('staffs.scap')
                      %th{:align=>"left"}= t('staffs.kasut')
                      %th{:align=>"left"}= t('staffs.jbiru')
                      %td{:align=>"center"}
                        %i
                          %font{:color=>"grey", :size=>"2pt", :weight=>"bold"}= t('staffs.format_data')
                    %tr
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          =f.text_field :bb1, :class => 'text_field input-small'
                        - else
                          = f.text_field :bb1, :class => 'text_field input-small', :value=> @staff.size_data[:baju]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          = f.text_field :ss1, :class => 'text_field input-small'
                        - else
                          = f.text_field :ss1, :class => 'text_field input-small', :value=> @staff.size_data[:seluar]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          = f.text_field :bb2, :class => 'text_field input-small'
                        - else
                          = f.text_field :bb2, :class => 'text_field input-small', :value=> @staff.size_data[:beret]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          = f.text_field :pp1, :class => 'text_field input-small'
                        - else
                          = f.text_field :pp1, :class => 'text_field input-small', :value=> @staff.size_data[:pcap]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          =f.text_field :bb3, :class => 'text_field input-small'
                        - else
                          = f.text_field :bb3, :class => 'text_field input-small', :value=> @staff.size_data[:bhat]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          =f.text_field :ss2, :class => 'text_field input-small'
                        - else
                          = f.text_field :ss2, :class => 'text_field input-small', :value=> @staff.size_data[:scap]	  
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          = f.text_field :kk1, :class => 'text_field input-small'
                        - else
                          = f.text_field :kk1, :class => 'text_field input-small', :value=> @staff.size_data[:kasut]
                      %td{:style=>"padding: 0px 8px 0px 0px;"}
                        - if @staff.size_data.nil? || @staff.size_data.blank?
                          = f.text_field :jj1, :class => 'text_field input-small'
                        - else
                          = f.text_field :jj1, :class => 'text_field input-small', :value=> @staff.size_data[:jbiru]
                      %td
                        %i
                          %font{:color=>"grey",:size=>"2pt"}=t 'staffs.size_input_format'
      %br
 
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        staffs_path, :class => 'btn'     

