%fieldset
  .form-inline{role: "form"}
    = f.collection_select :uniform_id, UniformItem.order(:code, :name), :id, :uniform_details, :include_blank => (t 'helpers.prompt.select_uniform'), :html_options => {:class => 'selectpicker'}
    = f.text_field :measurement_type, :class => 'text_field input-small', placeholder: "Measurement Type"
    = f.text_field :value, :class => 'text_field input-small', placeholder: "Value"
    = f.collection_select :unit_type_id, UnitType.all, :id, :short_name, :include_blank => (t 'helpers.prompt.select_unit_type'), :html_options => {:class => 'selectpicker'}
    = f.hidden_field :_destroy
    = link_to_remove_fields (fa_icon "trash-o"), f 