- provide(:title, 'Staff')
- model_class = Staff
.page-header
  %h1= t 'staffs.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_staff_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'staffs.id_no'
      %th= t 'staffs.rank_id'
      %th= t 'staffs.name'
      %th
  %tbody
    - @staffs.each do |staff|
      %tr
        %td= staff.id_no
        %td= staff.rank_id
        %td= staff.name
        = render :partial => 'action_menu', :locals => { :staff => staff }
      
      
