- provide(:title, 'Staff')
- model_class = Staff
.page-header
  %h1= t 'staffs.title', :default => model_class.model_name.human.pluralize
 
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("user", text: (t 'actions.new'))), new_staff_path
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("user", text: (t 'actions.import_excel'))), import_excel_path	 
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")
      
.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f| 
      .field
        %table
          %tr
            %td{:style=>"padding:6px"}= f.label :id_no_cont, t('staffs.id_no')+" "+t('actions.contains')
            %td{:style=>"padding:6px"}= f.text_field :id_no_cont, class: "input-medium search-query"
            %td{:style=>"padding:6px"}= f.label :name_cont,  t('staffs.name')+" "+t('actions.contains')
            %td{:style=>"padding:6px"}= f.text_field :name_cont, class: "input-large search-query"
            %td{:style=>"padding:6px"}= label_tag 'q[size_data_cont]', t('helpers.prompt.select_size_for')
            %td{:style=>"padding:6px 0px 6px 6px"}= select_tag(:size_select, options_for_select([[t('helpers.prompt.select_item'),0],[t('staffs.baju'),1],[t('staffs.seluar'),2],[t('staffs.beret'),3],[t('staffs.pcap'),4],[t('staffs.bhat'),5],[t('staffs.scap'),6],[t('staffs.kasut'),7],[t('staffs.jbiru'),8]]), class: 'selectpicker')
            %td#result_div{:style=>"padding:6px; width:120px;"}    
        /working sample
        /= select_tag('q[size_data_cont_any]',options_for_select([['33', ':seluar: 33'],['34', ':seluar: \'34\''],['XL', ':baju: XL']]  ) )  		
        = f.submit "Search", class: "btn btn-warning" 
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= sort_link @search, :id_no,   t('staffs.id_no')
      %th= sort_link @search, :rank_id, t('staffs.rank_id')
      %th= sort_link @search, :name, t('staffs.name')
      %th= t('staffs.baju')
      %th= t('staffs.seluar')
      %th= t('staffs.beret')
      %th= t('staffs.pcap')
      %th= t('staffs.bhat')
      %th= t('staffs.scap')
      %th= t('staffs.kasut')
      %th= t('staffs.jbiru')
      %th
  %tbody
    - @staffs.includes([:rank]).each do |staff|
      %tr
        %td= link_to staff.id_no, staff
        %td= check_kin {staff.rank.name}
        %td= staff.name.gsub(/\w+/, &:capitalize) 
        - unless staff.size_data.nil? || staff.size_data.blank?      
          %td= staff.size_data[:baju]         
          %td= staff.size_data[:seluar]
          %td= staff.size_data[:beret]
          %td= staff.size_data[:pcap]
          %td= staff.size_data[:bhat]
          %td= staff.size_data[:scap]
          %td= staff.size_data[:kasut]
          %td= staff.size_data[:jbiru]
        - else
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
          %td &nbsp;
        = render :partial => 'action_menu', :locals => { :staff => staff }
      
