- provide(:title, 'Staff Details')
- model_class = Staff
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%p#notice= notice
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:id_no) + ":"
  %dd=  @staff.id_no
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:rank_id) + ":"
  %dd=  @staff.rank_id
%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:name) + ":"
  %dd= @staff.name

.form-actions
  = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staffs_path, :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), |
    edit_staff_path(@staff), :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
    staff_path(@staff),                                                                                                    |
    :method => 'delete',                                                                                                           |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
    :class => 'btn btn-danger'                                                                                                     |
