- provide(:title, 'Staff Details')
- model_class = Staff
.page-header
  %h1= t 'staffs.title', :default => model_class.model_name.human
%p#notice= notice
%ul.nav.nav-tabs
  %li.active= link_to t('staff_measurements.title'),        '#tab1', data: {toggle: 'tab'}
  %li= link_to t('kit_staffs.title'),  '#tab2', data: {toggle: 'tab'}
  %li= link_to '',   '#tab3', data: {toggle: 'tab'}
  %li= link_to '','#tab4', data: {toggle: 'tab'} 
  
#myTabContent.tab-content{:style => "padding-left:50px;"}
  .row
    .span8
      %h4
        = @staff.id_no
        &nbsp; - &nbsp; 
        = @staff.rank.try(:name)
        &nbsp; - &nbsp; 
        = @staff.name

  #tab1.tab-pane.active
    .div{:style => "padding: 15px 50px 10px 50px; "}
    - if @staff.staff_measurements == []
      No Items
    - else
      %table{:width => "75%"}
        %thead
          %tr
            %th{:align => "left"}= t 'uniform_items.uniform_item_name'
            %th= t 'staff_measurements.measurement'
            %th= t 'staff_measurements.value'
            %th= t 'staff_measurements.unit_type'
        %tbody 
          - for staff_measurement in @staff.staff_measurements
            %tr
              %td= staff_measurement.uniform_item.uniform_details
              %td{:align => "center"}= staff_measurement.measurement_type
              %td{:align => "center"}= staff_measurement.value
              %td{:align => "center"}= staff_measurement.unit_type.short_name if !staff_measurement.unit_type_id.blank?
    	  
  #tab2.tab-pane
    .div{:style => "padding: 15px 50px 10px 50px; "}
    - if @staff.kit_staffs == []
      No Items
    - else
      %table{:width => "75%"}
        %thead
          %tr
            %th
            %th{:align => "left"}= t 'kit_staffs.kit'
        %tbody 
          - for kit_staff in @staff.kit_staffs
            - for kit_uniform in kit_staff.kit.kit_uniforms
              %tr
                %td= kit_uniform.uniform_item.uniform_details
                %td= kit_staff.kit.kit_details
              - if !kit_uniform.kit.is_root?	
                - @bb = kit_uniform.kit.ancestor_ids
                - @aa = Kit.find(:all, :conditions=>['id IN (?)', @bb])
                - for ancestor_kit in @aa
                  - for uniform in ancestor_kit.kit_uniforms
                    %tr  
                      %td= uniform.uniform_item.uniform_details
                      %td

  
 
.form-actions
  = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), staffs_path, :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), |
    edit_staff_path(@staff), :class => 'btn'
  = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
    staff_path(@staff),                                                                                                    |
    :method => 'delete',                                                                                                           |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
    :class => 'btn btn-danger'                                                                                                     |
