.row{:style => "height:140px;"}
  
  .well#login_box{:style => "float:left; margin:10px 0 0 0px; align:bottom; display:none;"}
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'form-inline', :role => 'form') do |f|
      = f.text_field :email, :placeholder => (t 'home.email'), :class => "input-xlarge"
      = f.password_field :password, :placeholder => (t 'home.password'), :class => "input-xlarge"
      = f.submit (t 'home.signin'), :class => "btn btn-primary", :type => "submit", :style => "margin-top: -10px;"
        
  .span2.piclogo{:style => "float:right; height:140px;"} 
    //=fa_icon "camera-retro", text: "Take a photo"
    = image_tag("RMNLOGO_s.jpg", :height => '120px', :width => '95px') # =>
    
.row    
  .center.hero-unit
    .overlay
      %h1= t 'home.welcome'
      %h2= t 'home.uniformity'
      
.row
  = link_to image_tag("powered_by_rails.png", alt: "Rails"), 'http://rubyonrails.org/'


:javascript
  $(document).ready(function() {
      $('#sign_in_trigger').click(function() {
          $('#login_box').show().effect('highlight', {}, 3000)
      });
  });










