<%= form_for(@uniform_stock_issue) do |f| %>
  <% if @uniform_stock_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uniform_stock_issue.errors.count, "error") %> prohibited this uniform_stock_issue from being saved:</h2>

      <ul>
      <% @uniform_stock_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br>
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :issued_to %><br>
    <%= f.number_field :issued_to %>
  </div>
  <div class="field">
    <%= f.label :issued_by %><br>
    <%= f.number_field :issued_by %>
  </div>
  <div class="field">
    <%= f.label :issued_on %><br>
    <%= f.date_select :issued_on %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :document_id %><br>
    <%= f.number_field :document_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
