.container{:style => "padding-left: 60px;"}
  = form_for @uniform_stock_issue, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :stock_id, :class => 'control-label'
      .controls= f.collection_select :stock_id, UniformStock.all, :id, :uniform_stock_details, :include_blank => (t 'helpers.prompt.select_stock'), :html_options => {:class => 'selectpicker'}
    .control-group
      = f.label :issued_to, :class => 'control-label'
      .controls= f.collection_select :issued_to, Staff.all.order(:id_no), :id, :staff_details, :include_blank => (t 'helpers.prompt.select_staff'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :issued_by, :class => 'control-label'
      .controls= f.collection_select :issued_by, Staff.all, :id, :staff_details, :include_blank => (t 'helpers.prompt.select_staff'), :html_options => {:class => 'selectpicker'}
    .control-group
      = f.label :issued_on, :class => 'control-label'
      .controls= f.text_field :issued_on, :class => 'text_field', :type => :text, 'data-behaviour' => 'datepicker_before'
    .control-group
      = f.label :quantity, :class => 'control-label'
      .controls= f.text_field :quantity, :class => 'text_field input-small'

    .control-group
      = f.label :document_id, :class => 'control-label'
      .controls= f.number_field :document_id, :class => 'text_field input-xxlarge'

    .form-actions
      = f.submit  t('.submit', :default => t("helpers.links.submit")), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        uniform_stock_issues_path, :class => 'btn'     

