- provide(:title, 'Uniform Stock issue')
- model_class = UniformStockIssue
.page-header
  %h1= t 'uniform_stock_issues.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_uniform_stock_issue_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :uniform_stock_uniform_item_name_cont, "Uniform Stock (name) contains"
        = f.text_field :uniform_stock_uniform_item_name_cont, class: "input-medium search-query"
        = f.label :document_id_cont, "Document Contains"
        = f.text_field :document_id_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'uniform_stock_issues.iv_no'
      %th= t 'uniform_stock_issues.stock_id'
      %th= t 'uniform_stock_issues.issued_to'
      %th= t 'uniform_stock_issues.issued_by'
      %th= sort_link @search, :issued_on, t('uniform_stock_issues.issued_on')
      %th= sort_link @search, :quantity, t('uniform_stock_issues.quantity')
      %th= sort_link @search, :document_id, t('uniform_stock_issues.document_id')
      %th 

  %tbody
    - @uniform_stock_issues.group_by(&:stock_id).each do |stock_id,uniform_stock_issues|
      - uniform_stock_issues.each do |uniform_stock_issue|
        %tr
          %td= uniform_stock_issue.iv_no
          %td= uniform_stock_issue.uniform_stock.uniform_item.try(:uniform_details)
          %td= uniform_stock_issue.receiver.try(:staff_details)
          %td= uniform_stock_issue.issuer.try(:staff_details)
          %td= check_kin {(uniform_stock_issue.issued_on.strftime("%d-%b-%Y"))}
          %td= uniform_stock_issue.quantity
          %td= uniform_stock_issue.document_id
          = render :partial => 'action_menu', :locals => { :uniform_stock_issue => uniform_stock_issue }
      
      
