.container{:style => "padding-left: 60px;"}
  = form_for @uniform_stock_received, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
	
    .control-group 
      - unless @uniform_stock_received.id.nil?
        = f.label :rv_no, :class => 'control-label' 
      .controls
        - unless @uniform_stock_received.id.nil?
          = @uniform_stock_received.rv_no 	
		 
    .control-group
      = f.label :stock_id, :class => 'control-label'
      .controls= f.collection_select :stock_id, UniformStock.all, :id, :uniform_stock_details, :include_blank => (t 'helpers.prompt.select_stock'), :html_options => {:class => 'selectpicker'}
	  
    .control-group
      = f.label :quantity, :class => 'control-label'
      .controls= f.text_field :quantity, :class => 'text_field input-small'

    .control-group
      = f.label :size, :class => 'control-label'
      .controls= f.text_field :size, :class => 'text_field input-small'

    .control-group
      = f.label :received_on, :class => 'control-label'
      .controls= f.text_field :received_on, :class => 'text_field input-medium', :type => :text, 'data-behaviour' => 'datepicker_before'

    .control-group
      = f.label :received_by, :class => 'control-label'
      .controls= f.collection_select :received_by, Staff.all, :id, :staff_details, :include_blank => (t 'helpers.prompt.select_staff'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :contract_id, :class => 'control-label'
      .controls= f.collection_select :contract_id, Contract.all, :id, :contract_no, :include_blank => t('helpers.prompt.select_contract'), :html_options => {:class => 'selectpicker'}
 	  
    .form-actions
      = f.submit  t('.submit', :default => t("helpers.links.submit")), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        uniform_stock_receiveds_path, :class => 'btn'     


