<%= form_for(@uniform_stock_received) do |f| %>
  <% if @uniform_stock_received.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uniform_stock_received.errors.count, "error") %> prohibited this uniform_stock_received from being saved:</h2>

      <ul>
      <% @uniform_stock_received.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br>
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :received_on %><br>
    <%= f.date_select :received_on %>
  </div>
  <div class="field">
    <%= f.label :received_by %><br>
    <%= f.number_field :received_by %>
  </div>
  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.number_field :contract_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
