<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @uniform_stock_received.stock_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @uniform_stock_received.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @uniform_stock_received.size %>
</p>

<p>
  <strong>Received on:</strong>
  <%= @uniform_stock_received.received_on %>
</p>

<p>
  <strong>Received by:</strong>
  <%= @uniform_stock_received.received_by %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @uniform_stock_received.contract_id %>
</p>

<%= link_to 'Edit', edit_uniform_stock_received_path(@uniform_stock_received) %> |
<%= link_to 'Back', uniform_stock_receiveds_path %>
