.container{:style => "padding-left: 60px;"}
  = form_for @kit, :html => { :class => 'form-horizontal' }  do |f|
    = f.hidden_field :parent_id
    = render 'shared/error_messages', object: f.object
    
    .control-group
      = f.label :code, :class => 'control-label'
      .controls
        .input-prepend
          %span.add-on{:style => "height:30px"}= @kit.parent.combo_code unless @kit.parent.nil?
          = f.text_field :code,  :size => '50', :class => "span2", :id => "prependedInput", :placeholder => "Kit"
    
    .control-group
      = f.label :name, :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field input-xxlarge'
      
      
    %br
    %H4 Uniform Items
    %hr{:style => "padding:0; margin:0;"}
    
    .form-group
      .col-lg-offset-2.col-lg-10
        = f.fields_for :kit_uniforms do |builder|
          = render 'kit_uniform_fields', f: builder
        = link_to_add_fields (t 'vehicle_assignments.add_details'), f, :kit_uniforms


    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        kits_path, :class => 'btn'  
        
        
       

