<h1>Listing kits</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Combo code</th>
      <th>Name</th>
      <th>Ancestry</th>
      <th>Ancestry depth</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kits.each do |kit| %>
      <tr>
        <td><%= kit.code %></td>
        <td><%= kit.combo_code %></td>
        <td><%= kit.name %></td>
        <td><%= kit.ancestry %></td>
        <td><%= kit.ancestry_depth %></td>
        <td><%= link_to 'Show', kit %></td>
        <td><%= link_to 'Edit', edit_kit_path(kit) %></td>
        <td><%= link_to 'Destroy', kit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kit', new_kit_path %>
