- provide(:title, 'Kit')
- model_class = Kit
.page-header
  %h1= t 'kits.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("plus-circle", text: (t 'actions.new_master_kit'))), new_kit_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f| 
      .field
        = f.label :code_cont, "Code Contains"
        = f.text_field :code_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"
	     
.span8offset4.tree
  = nested_groups2(Kit.arrange(:order => :combo_code))


      
//%table.table.table-condensed.table-hover
//  %thead
//    %tr
//      %th Code
//      %th Combo code
//      %th Name
//      %th Ancestry
//      %th Ancestry depth
//      %th 
//
//  %tbody
//    - @kits.each do |kit|
//      %tr
//        %td= kit.code
//        %td= kit.combo_code
//        %td= kit.name
//        %td= kit.ancestry
//        %td= kit.ancestry_depth
//        = render :partial => 'action_menu', :locals => { :kit => kit }
      
.row


