- provide(:title, 'Kit Detail')
- model_class = Kit
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%p#notice= notice
.row
  .span8.offset1
    %h4
      = @kit.combo_code
      &nbsp; - &nbsp; 
      = @kit.name    
%br
.row
  .span8.offset1
    %H4 Uniform Items
    %hr{:style => "padding:0; margin:0;"}
    - if @kit.kit_uniforms == [] && @kit.parent.kit_uniforms == []
      No Items
    - else
      - @group = KitUniform.group(@kit)
      %table.table.table-bordered{:style => "width:80%"}
        %tr
          %td Uniform Item Name
          - if @group == 1
            %td Junior Rate
            %td Senior Rate
          - elsif @group == 2
            %td PK
            %td PKK
            %td Graduan
          - elsif @group == 3
            %td Peg Lelaki
            %td Peg Wanita
          - elsif @group == 4
            %td Peg
            %td Junior Rate
            %td Senior Rate
          - elsif @group == 5
            %td Peg Lelaki
            %td Kadet Lelaki
            %td Peg Wanita
            %td Kadet Wanita
          - else
            %td Hak
          %td Notes
          %td Inherited
        - for kit_uniform in @kit.kit_uniforms
          %tr
            %td= kit_uniform.uniform_item.name	
            - if @group == 1
              %td{:align => "center"}= kit_uniform.quantity
              %td{:align => "center"}= kit_uniform.senior_rate
            - elsif @group == 2
              %td{:align => "center"}= kit_uniform.pk
              %td{:align => "center"}= kit_uniform.pkk
              %td{:align => "center"}= kit_uniform.graduan	
            - elsif @group == 3
              %td{:align => "center"}= kit_uniform.peg_l
              %td{:align => "center"}= kit_uniform.peg_p
            - elsif @group == 4
              %td{:align => "center"}= kit_uniform.peg
              %td{:align => "center"}= kit_uniform.quantity
              %td{:align => "center"}= kit_uniform.senior_rate
            - elsif @group == 5
              %td{:align => "center"}= kit_uniform.peg_l
              %td{:align => "center"}= kit_uniform.kadet_l
              %td{:align => "center"}= kit_uniform.peg_p
              %td{:align => "center"}= kit_uniform.kadet_p
            - else
              %td{:align => "center"}= kit_uniform.quantity2
            %td= kit_uniform.notes
            %td
        - if !@kit.is_root?	
          - for kit_uniform in @kit.parent.kit_uniforms
            %tr
              %td= kit_uniform.uniform_item.name
              - if @group == 1
                %td{:align => "center"}= kit_uniform.quantity
                %td{:align => "center"}= kit_uniform.senior_rate
              - elsif @group == 2
                %td{:align => "center"}= kit_uniform.pk
                %td{:align => "center"}= kit_uniform.pkk
                %td{:align => "center"}= kit_uniform.graduan	
              - elsif @group == 3
                %td{:align => "center"}= kit_uniform.peg_l
                %td{:align => "center"}= kit_uniform.peg_p
              - elsif @group == 4
                %td{:align => "center"}= kit_uniform.peg
                %td{:align => "center"}= kit_uniform.quantity
                %td{:align => "center"}= kit_uniform.senior_rate
              - elsif @group == 5
                %td{:align => "center"}= kit_uniform.peg_l
                %td{:align => "center"}= kit_uniform.kadet_l
                %td{:align => "center"}= kit_uniform.peg_p
                %td{:align => "center"}= kit_uniform.kadet_p
              - else
                %td{:align => "center"}= kit_uniform.quantity2
              %td= kit_uniform.notes
              %td{:align => "center"} *

.row
  .form-actions{:style => "padding-left:50px;"}
    = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), kits_path, :class => 'btn'
    = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), |
      edit_kit_path(@kit), :class => 'btn'
    = link_to content_tag(:i, " New Node", :class => "fa fa-leaf"), new_kit_path(:parent_id => @kit), :class => 'btn btn-info'
    = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
      kit_path(@kit),                                                                                                    |
      :method => 'delete',                                                                                                           |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
      :class => 'btn btn-danger'                                                                                                     |
