<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @kit.code %>
</p>

<p>
  <strong>Combo code:</strong>
  <%= @kit.combo_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kit.name %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @kit.ancestry %>
</p>

<p>
  <strong>Ancestry depth:</strong>
  <%= @kit.ancestry_depth %>
</p>

<%= link_to 'Edit', edit_kit_path(@kit) %> |
<%= link_to 'Back', kits_path %>
