- provide(:title, 'Kit Detail')
- model_class = Kit
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%p#notice= notice
.row
  .span8.offset1
    %h4
      = @kit.combo_code
      &nbsp; - &nbsp; 
      = @kit.name    
%br
.row
  .span8.offset1
    %H4 Uniform Items
    %hr{:style => "padding:0; margin:0;"}
    - if @kit.kit_uniforms == []
      No Items
    - else
      %table
        %tr
          %td Uniform Item Name
          %td Junior Rate
          %td Senior Rate
          %td Notes
        - for kit_uniform in @kit.kit_uniforms
          %tr
            %td= kit_uniform.uniform_item.name
            %td{:align => "center"}= kit_uniform.quantity
            %td{:align => "center"}= kit_uniform.senior_rate
            %td= kit_uniform.notes
        //logic for inherited items, kit_uniform of parent
        - if !@kit.is_root?
          %tr
            %td{:colspan => "4", :style => "font-weight:bold;"} Inherited Items
          - for kit_uniform_parent in @kit.parent.kit_uniforms
            %tr
              %td= kit_uniform_parent.uniform_item.name
              %td{:align => "center"}= kit_uniform_parent.quantity
              %td{:align => "center"}= kit_uniform_parent.senior_rate 
              %td= kit_uniform_parent.notes     
.row
  .form-actions{:style => "padding-left:50px;"}
    = link_to content_tag(:i, "", :class => "fa fa-arrow-left ") + " " + t('.back', :default => t("helpers.links.back")), kits_path, :class => 'btn'
    = link_to content_tag(:i, "", :class => "fa fa-edit") + " " + t('.edit', :default => t("helpers.links.edit")), |
      edit_kit_path(@kit), :class => 'btn'
    = link_to content_tag(:i, " New Node", :class => "fa fa-leaf"), new_kit_path(:parent_id => @kit), :class => 'btn btn-info'
    = link_to content_tag(:i, "", :class => "fa fa-trash-o icon-white") + " " + t('.destroy', :default => t("helpers.links.destroy")), |
      kit_path(@kit),                                                                                                    |
      :method => 'delete',                                                                                                           |
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },                   |
      :class => 'btn btn-danger'                                                                                                     |
