- provide(:title, 'Expertise')
- model_class = Expertise
.page-header
  %h1= t 'expertises.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_rank_path, id: "add_new_expertise", remote: true
    %ul.nav.pull-right
  //%li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
  //%li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
%table.table.table-condensed.table-hover#rank_list{:style => "width:60%;"}
  %thead
    %tr
      %th= t 'expertises.shortname'
      %th= t 'expertises.name'
      %th= t 'expertises.branch'
      %th 
  %tbody
    %tr#rank_form(style="display:none;")
      = render :partial => 'form'
    - @expertises.each do | expertise|
      %tr{:id => "tr_#{expertise.id}"}
        %td= expertise.short_name
        %td= expertise.name
        %td= ((Expertise::BRANCH.find_all{|disp, value| value == expertise.branch}).map {|disp, value| disp})[0].to_s
        %td= link_to (fa_icon "trash-o"), expertise, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
      
