= form_for @contract_type, remote: true do |f|
  %div#contract_type_errors{:style => "display:none;"}
    = render 'shared/error_messages', object: f.object
  
  %td= f.text_field :short_name
  %td= f.text_field :description
  %td= f.submit (t 'actions.create'), :class => 'btn btn-primary'
