- provide(:title, 'contract type')
- model_class = ContractType
.page-header
  %h1= t 'contract_types.title', :default => model_class.model_name.human.pluralize
      
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_contract_type_path, id: "add_new_type", remote: true
    %ul.nav.pull-right
      //%li#toga= link_to content_tag(:li, fa_icon("search", text: "Search")), "#"
      //%li= link_to content_tag(:li, fa_icon("print", text: "Print")), "#"
      
%table.table.table-condensed.table-hover#contract_type_list{:style => "width:60%;"}
  %thead
    %tr
      %th= t 'contract_types.short_name'
      %th= t 'contract_types.description'
      %th
  %tbody
    %tr#contract_type_form(style="display:none;")
      = render :partial => 'form'
    - @contract_types.each do |contract_type|
      %tr{:id => "tr_#{contract_type.id}"}
        %td= contract_type.short_name
        %td= contract_type.description
        %td= link_to (fa_icon "trash-o"), contract_type, method: :delete, data: { confirm: 'Are you sure?' }, remote: true



