- provide(:title, 'Rank')
- model_class = Rank
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: "New Rank")), new_rank_path, id: "add_new_rank", remote: true
    %ul.nav.pull-right
  //%li#toga= link_to content_tag(:li, fa_icon("search", text: "Search")), "#"
  //%li= link_to content_tag(:li, fa_icon("print", text: "Print")), "#"
      
      
%table.table.table-condensed.table-hover#rank_list{:style => "width:60%;"}
  %thead
    %tr
      %th Shortname
      %th Name
      %th 
  %tbody
    %tr#rank_form(style="display:none;")
      = render :partial => 'form'
    - @ranks.each do | rank |
      %tr{:id => "tr_#{rank.id}"}
        %td= rank.shortname
        %td= rank.name
        %td= link_to (fa_icon "trash-o"), rank, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
      
