<h1>Listing uniform_items</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uniform_items.each do |uniform_item| %>
      <tr>
        <td><%= uniform_item.code %></td>
        <td><%= uniform_item.name %></td>
        <td><%= uniform_item.notes %></td>
        <td><%= link_to 'Show', uniform_item %></td>
        <td><%= link_to 'Edit', edit_uniform_item_path(uniform_item) %></td>
        <td><%= link_to 'Destroy', uniform_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uniform item', new_uniform_item_path %>
