<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @uniform_item.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @uniform_item.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @uniform_item.notes %>
</p>

<%= link_to 'Edit', edit_uniform_item_path(@uniform_item) %> |
<%= link_to 'Back', uniform_items_path %>
