- provide(:title, 'Companies')
- model_class = Company
.page-header
  %h1= t 'companies.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_company_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.text_field :name_cont, class: "input-medium search-query", placeholder: "Name Contains" 
        = f.text_field :contact_person_cont, class: "input-medium search-query", placeholder: "Contact Person Contains" 
        = f.text_field :phone_cont, class: "input-medium search-query", placeholder: "Phone Contains" 
        = f.submit "Search", class: "btn btn-warning"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= sort_link @search, :name, t('companies.name')
      %th= t 'companies.address' 
      %th= t 'companies.contact_person' 
      %th= t 'companies.phone' 
      %th= t 'companies.fax' 
      %th= t 'companies.email' 
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.address
        %td= company.contact_person
        %td= company.phone
        %td= company.fax
        %td= company.email
        = render :partial => 'action_menu', :locals => { :company => company }
      
      
