.container{:style => "padding-left: 60px;"}
  = form_for @uniform_stock, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :uniform_id, :class => 'control-label'
      .controls= f.number_field :uniform_id, :class => 'text_field input-xxlarge'
    
    .control-group
      = f.label :size, :class => 'control-label'
      .controls= f.text_field :size, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :category, :class => 'control-label'
      .controls= f.text_field :category, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :max_quantity, :class => 'control-label'
      .controls= f.number_field :max_quantity, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :min_quantity, :class => 'control-label'
      .controls= f.number_field :min_quantity, :class => 'text_field input-xxlarge'

    .control-group
      = f.label :unit_type_id, :class => 'control-label'
      .controls= f.number_field :unit_type_id, :class => 'text_field input-xxlarge'

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        uniform_stocks_path, :class => 'btn'     

