- provide(:title, 'Uniform_Stock')
- model_class = UniformStock
.page-header
  %h1= t 'uniform_stocks.stock_id', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_uniform_stock_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to content_tag(:li, fa_icon("print", text:  (t 'actions.print'))), "#"

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :category_cont, "Category Contains"
        = f.text_field :category_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"

      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'uniform_stocks.stock_id'
      %th= t 'uniform_stocks.size'
      %th= t 'uniform_stocks.category'
      %th= t 'uniform_stocks.max_quantity'
      %th= t 'uniform_stocks.min_quantity'
      %th= t 'uniform_stocks.unit_type_id'
      %th 

  %tbody
    - @uniform_stocks.each do |uniform_stock|
      %tr
        %td= uniform_stock.uniform_item.uniform_details
        %td= uniform_stock.size
        %td= uniform_stock.category
        %td= uniform_stock.max_quantity
        %td= uniform_stock.min_quantity
        %td= check_kin {uniform_stock.unit_type.short_name}
        = render :partial => 'action_menu', :locals => { :uniform_stock => uniform_stock }
      
      
