<h1>Listing uniform_stocks</h1>

<table>
  <thead>
    <tr>
      <th>Uniform</th>
      <th>Size</th>
      <th>Category</th>
      <th>Max quantity</th>
      <th>Min quantity</th>
      <th>Unit type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @uniform_stocks.each do |uniform_stock| %>
      <tr>
        <td><%= uniform_stock.uniform_id %></td>
        <td><%= uniform_stock.size %></td>
        <td><%= uniform_stock.category %></td>
        <td><%= uniform_stock.max_quantity %></td>
        <td><%= uniform_stock.min_quantity %></td>
        <td><%= uniform_stock.unit_type_id %></td>
        <td><%= link_to 'Show', uniform_stock %></td>
        <td><%= link_to 'Edit', edit_uniform_stock_path(uniform_stock) %></td>
        <td><%= link_to 'Destroy', uniform_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uniform stock', new_uniform_stock_path %>
