%h2= t 'report.outstanding_report' 
%table.table.table-bordered
  %thead
    %tr
      %th= t 'uniform_stocks.stock_id' 
      %th= t 'report.total_required'
      %th= t 'report.total_assigned'
      %th= t 'report.total_outstanding'

  %tbody
    - @uniform_stocks.group_by(&:uniform_id).each do |uni_id, uniform_stock|
      %tr
        %td= UniformStock.find_by_uniform_id(uni_id).uniform_item.uniform_details
        %td= total_required = UniformStock.total_required(uni_id)
        %td= issue = UniformStock.issue(uni_id)
        %td= total_required-issue
