<p id="notice"><%= notice %></p>

<p>
  <strong>Uniform:</strong>
  <%= @uniform_stock.uniform_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @uniform_stock.size %>
</p>

<p>
  <strong>Category:</strong>
  <%= @uniform_stock.category %>
</p>

<p>
  <strong>Max quantity:</strong>
  <%= @uniform_stock.max_quantity %>
</p>

<p>
  <strong>Min quantity:</strong>
  <%= @uniform_stock.min_quantity %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @uniform_stock.unit_type_id %>
</p>

<%= link_to 'Edit', edit_uniform_stock_path(@uniform_stock) %> |
<%= link_to 'Back', uniform_stocks_path %>
