.container{:style => "padding-left: 60px;"}
  = form_for @stock_order, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :stock_id, :class => 'control-label'
      .controls= f.collection_select :stock_id, UniformStock.all, :id, :uniform_stock_details, :include_blank => (t 'helpers.prompt.select_stock'), :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :quantity, :class => 'control-label'
      .controls= f.text_field :quantity, :class => 'text_field input-small'

    .control-group
      = f.label :unit_type_id, :class => 'control-label'
      .controls= f.collection_select :unit_type_id, UnitType.all, :id, :short_name, :include_blank => (t 'helpers.prompt.select_unit_type'), :html_options => {:class => 'selectpicker'}
   
    .control-group
      = f.label :company_id, :class => 'control-label'
      .controls= f.collection_select :company_id, Company.all, :id, :name, :include_blank => (t 'helpers.prompt.select_supplier'), :html_options => {:class => 'selectpicker'}

    .control-group
      = f.label :remark, :class => 'control-label'
      .controls= f.text_field :remark, :class => 'text_field', :class => 'text_field input-xxlarge'
   
    .form-actions
      = f.submit (t 'helpers.links.submit'), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        companies_path, :class => 'btn'     

