<%= form_for(@staff_measurement) do |f| %>
  <% if @staff_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_measurement.errors.count, "error") %> prohibited this staff_measurement from being saved:</h2>

      <ul>
      <% @staff_measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :uniform_id %><br>
    <%= f.number_field :uniform_id %>
  </div>
  <div class="field">
    <%= f.label :measurement_type %><br>
    <%= f.text_field :measurement_type %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :unit_type_id %><br>
    <%= f.number_field :unit_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
