- provide(:title, 'Staff_Measurement')
- model_class = StaffMeasurement
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: "New Staff Measurement")), new_staff_measurement_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: "Search")), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: "Print")), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Staff
      %th Uniform
      %th Measurement type
      %th Value
      %th Unit type
      %th 

  %tbody
    - @staff_measurements.each do |staff_measurement|
      %tr
        %td= staff_measurement.staff_id
        %td= staff_measurement.uniform_id
        %td= staff_measurement.measurement_type
        %td= staff_measurement.value
        %td= staff_measurement.unit_type_id
        = render :partial => 'action_menu', :locals => { :staff_measurement => staff_measurement }
      
      
