<h1>Listing unit_types</h1>

<table>
  <thead>
    <tr>
      <th>Short name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unit_types.each do |unit_type| %>
      <tr>
        <td><%= unit_type.short_name %></td>
        <td><%= unit_type.description %></td>
        <td><%= link_to 'Show', unit_type %></td>
        <td><%= link_to 'Edit', edit_unit_type_path(unit_type) %></td>
        <td><%= link_to 'Destroy', unit_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit type', new_unit_type_path %>
