- provide(:title, 'Unit_Type')
- model_class = UnitType
.page-header
  %h1= t 'unit_types.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_unit_type_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Short name
      %th Description
      %th 

  %tbody
    - @unit_types.each do |unit_type|
      %tr
        %td= unit_type.short_name
        %td= unit_type.description
        = render :partial => 'action_menu', :locals => { :unit_type => unit_type }
      
      
