.container{:style => "padding-left: 60px;"}
  = form_for @kit_staff, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :kit_id, :class => 'control-label'
      .controls= f.collection_select :kit_id, Kit.find(:all, :order => 'id ASC'), :id, :kit_details, :include_blank => 'Select Kit', :html_options => {:class => 'selectpicker'}
    
    .control-group
      = f.label :staff_id, :class => 'control-label'
      .controls= f.collection_select :staff_id, Staff.find(:all, :order => 'id_no ASC'), :id, :staff_details, :include_blank => 'Select Kit', :html_options => {:class => 'selectpicker'}
    .control-group
      /= f.label :staff_group_id, :class => 'control-label'
      /.controls= f.number_field :staff_group_id, :class => 'text_field input-xxlarge'

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        kit_staffs_path, :class => 'btn'     

