<%= form_for(@kit_staff) do |f| %>
  <% if @kit_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit_staff.errors.count, "error") %> prohibited this kit_staff from being saved:</h2>

      <ul>
      <% @kit_staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kit_id %><br>
    <%= f.number_field :kit_id %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.number_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :staff_group_id %><br>
    <%= f.number_field :staff_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
