- provide(:title, 'Kit Staff')
- model_class = KitStaff
.page-header
  %h1= t 'kit_staffs.title', :default => model_class.model_name.human.pluralize
  
  
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("asterisk", text: (t 'actions.new'))), new_kit_staff_path
    %ul.nav.pull-right
      %li.toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#", class: "toga"
      %li= link_to_function(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

.row.searchit{style: "display:none;"}
  .span9offset1
    = search_form_for @search, class: "form-inline" do |f|
      .field
        = f.label :staff_name_id_cont, "Staff Name Contains"
        = f.text_field :staff_name_cont, class: "input-medium search-query"
        = f.label :kit_name_cont, "Kit Name Contains"
        = f.text_field :kit_name_cont, class: "input-medium search-query"
        = f.submit "Search", class: "btn btn-warning"
      
      
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= sort_link @search, :kit_id, t('kit_staffs.kit_id')
      %th= sort_link @search, :staff_id, t('kit_staffs.staff_id')
      /%th= sort_link @search, :staff_group_id, t('kit_staffs.staff_group_id')
      %th 

  %tbody
    - @kit_staffs.group_by(&:staff_id).each do |staff, kit_staffs|
      - kit_staffs.each do |kit_staff|
        %tr
          %td= check_kin {kit_staff.kit.kit_details}
          %td= check_kin {kit_staff.staff.staff_details}
          /%td= kit_staff.staff_group_id
          = render :partial => 'action_menu', :locals => { :kit_staff => kit_staff }
      
      
