%h2= t 'report.request_report' 
%table.table.table-bordered
  %thead
    %tr
      %th= t 'uniform_stocks.stock_id' 
      %th= t 'report.total_required'
      %th= t 'report.total_stock'
      %th= t 'report.total_assigned'
      %th= t 'report.stock_balance'
      %th= t 'report.total_requested'

  %tbody
    - @uniform_stocks.group_by(&:uniform_id).each do |uni_id, uniform_stock|
      %tr
        /- uniform_stock.uniform_stock_details
        /- UniformStock.find_by_uniform_id(uni_id).uniform_stock_details
        %td= UniformStock.find_by_uniform_id(uni_id).uniform_item.uniform_details
        - item = KitUniform.where('uniform_id=?',uni_id)[0]
        - kit_id = item.kit_id
        - staff_ids = KitStaff.where('kit_id=?',kit_id).map(&:staff_id)
        - staffs_rec =Staff.where('id IN(?)',staff_ids)
        /- @staff=Staff.find(6)
        /-qty=item.kit_qty(@staff.gender,@staff.rank.rate,@staff.rank.shortname)
        - total_required=0
        - for staff in staffs_rec
          - total_required+= item.kit_qty(staff.gender,staff.rank.rate,staff.rank.shortname)
        %td= total_required
        - KitStaff.where('kit_id=?',KitUniform.find(UniformStock.find_by_uniform_id(uni_id).uniform_item).kit_id).map(&:staff_id)
        - receive=UniformStockReceived.where('stock_id IN(?)', UniformStock.where('uniform_id=?',uni_id).map(&:id)).sum(:quantity)
        - issue=UniformStockIssue.where('stock_id IN(?)', UniformStock.where('uniform_id=?',uni_id).map(&:id)).sum(:quantity)
        %td=receive
        %td=issue
        - requested = total_required-receive-issue
        - stock_balance = receive-issue
        %td= stock_balance
        %td 
          - if requested < 0
            = 0
          - else
            = requested 

      - kit_id = item.kit_id
      - staff_ids = KitStaff.where('kit_id=?',kit_id).map(&:staff_id)
      - staffs_rec = Staff.where('id IN(?)',staff_ids)
      - total_qty = 0
      - for staff in staffs_rec
        - total_qty+= item.kit_qty(staff.gender,staff.rank.rate,staff.rank.shortname)
		
      /- uniform_stock.uniform_id
      /- kit_id=KitUniform.where('uniform_id=?',uniform_stock.uniform_id)[0].kit_id
      /- item=KitUniform.where('uniform_id=?',uniform_stock.uniform_id)[0]
      /- @staff=Staff.find(6)
      /=qty=item.kit_qty(@staff.gender,@staff.rank.rate,@staff.rank.shortname)
	  
/= KitUniform.where('uniform_id=?',98)[0].kit_id
	  



