.container{:style => "padding-left: 60px;"}
  = form_for @unit, :html => { :class => 'form-horizontal' }  do |f|
    = render 'shared/error_messages', object: f.object
          
    .control-group
      = f.label :short_name, :class => 'control-label'
      .controls= f.text_field :shortname, :class => 'text_field'
    
    .control-group
      = f.label :name, :class => 'control-label'
      .controls= f.text_field :name, :class => 'text_field'
    
    .control-group
      = f.label :parent_id, :class => 'control-label'
      .controls.controls= f.collection_select :parent_id, Unit.order(shortname: :asc).all, :id, :shortname, :include_blank => t('helpers.prompt.select_unit'), :html_options => {:class => 'selectpicker'}
 
    .form-actions
      = f.submit t("helpers.links.submit"), :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        units_path, :class => 'btn'     

