- provide(:title, 'Unit')
- model_class = Unit
.page-header
  %h1= t 'units.title', :default => model_class.model_name.human.pluralize
  
    
.navbar.navbar-inverse
  .navbar-inner
    %ul.nav
      %li= link_to content_tag(:li, fa_icon("truck", text: (t 'actions.new'))), new_unit_path
    %ul.nav.pull-right
      %li#toga= link_to content_tag(:li, fa_icon("search", text: (t 'actions.search'))), "#"
      %li= link_to content_tag(:li, fa_icon("print", text: (t 'actions.print'))), "#"
      
.span8offset4.tree			
  = nested_groups(@units.arrange(:order => :combo_code)) 
  - nested_groups(@units.arrange(:order => :ancestry))     
      
