.mp-level
  %h2.icon.icon-world Uniformity
  %ul
    %li.icon.icon-left
      = link_to "Uniform", '#'
      .mp-level
        %h2.icon Uniform
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Uniform Items", uniform_items_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Kit Sets", kit_uniforms_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Skala", kits_path
          
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Stock", '#'
      .mp-level
        %h2.icon Stock
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Stock List", uniform_stocks_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Receive", uniform_stock_receiveds_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Issue", uniform_stock_issues_path
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Request", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Order", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Outstanding", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Suppliers", '#'
          
      %li.icon.icon-left
        = link_to content_tag(:i, "", :class => "icon-numb") + "People", '#'
        .mp-level
          %h2.icon People
          %a.mp-back{:href => "#"} Back
          %ul
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Units", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Staff", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Staff Sizes", staff_measurements_path
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Match Stock", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Provision", kit_staffs_path
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Measurement Types", '#'
          
        