.mp-level
  %h2.icon.icon-world Uniformity
  %ul
    %li.icon.icon-left
      = link_to "Uniform", '#'
      .mp-level
        %h2.icon Uniform
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Uniform Items", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Kit Sets", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Skala", '#'
          
    %li.icon.icon-left
      = link_to content_tag(:i, "", :class => "icon-numb") + "Stock", '#'
      .mp-level
        %h2.icon Stock
        %a.mp-back{:href => "#"} Back
        %ul
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Stock List", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Receive", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Issue", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Request", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Order", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Outstanding", '#'
          %li= link_to content_tag(:i, "", :class => "icon-numb") + "Suppliers", '#'
          
      %li.icon.icon-left
        = link_to content_tag(:i, "", :class => "icon-numb") + "People", '#'
        .mp-level
          %h2.icon People
          %a.mp-back{:href => "#"} Back
          %ul
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Units", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Staff", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Staff Sizes", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Match Stock", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Provision", '#'
            %li= link_to content_tag(:i, "", :class => "icon-numb") + "Measurement Types", '#'
          
        