!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'screen'
    = stylesheet_link_tag 'print', media: 'print'                 |
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = csrf_meta_tags
    //= render 'layouts/shim'

  %body
    //.container
    #mp-pusher.mp-pusher
      .nav#mp-menu.mp-menu
        = render 'layouts/menu'
      .scroller
        .scroller-inner
          .content.clearfix
            .block.content
              = render 'layouts/header'
              - flash.each do |key, value|
                %div{:class => "alert alert-#{key}"}
                  = value
                  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
              .container{:style => "width:90%; margin:auto; min-height:400px;"}  
                = yield
              = render 'layouts/footer'
              
              

    :javascript
      new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
